@font-face {
    font-family: 'Raleway';
    src: url(/fonts/Raleway-VariableFont_wght.ttf);
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }

#global_body
{
    width: 100%;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 3%;
    --color: #0065FC;
}

/*Head+header*/
header
{
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding-top: 0px;
    margin-top: 10px;
    box-sizing: border-box;
    margin-bottom: 37px;
}

.booki_logo
{
    width: 135px;
    box-sizing: border-box;
    padding-top: 45px;
    
}

.header_nav
{
    display: flex;
    align-items: center;
    gap: 70px;
}

.link1:hover
{
    color: var(--color);
    text-decoration:none;
    border-top: 2px solid var(--color);
    margin-top: -2px;
    
}

.link2:hover
{
    color: var(--color);
    text-decoration:none;
    border-top: 2px solid var(--color);
    margin-top: -2px;
}

.link1 
{ 
    padding-top: 30px;
    font-size: 16px;
}
.link2 
{ 
    padding-top: 30px;
    font-size: 16px;
}

.slogan
{
    margin-bottom: 18px;
}

h1
{
    font-size: 22px;
    margin-bottom: 10px;
}

p
{
    font-size: 17px;
}

/* BARRE DE RECHERCHE */
.location_nav
{
    display: flex;
    padding-left: 0px;  
    width: 419px;
    border: 2px solid #F2F2F2;
    border-radius: 18px 20px 20px 18px
}

.location_icon
{
    padding: 15px;
    padding-left: 20px;
    font-size: 18px;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 52px;
}

input::placeholder
{
    color: black;
}
.search_input
{
    border: 1px solid #F2F2F2;
    font-weight: 700;
    font-size: 18px;
    width: 236px;
    height: 52px;
    text-align: left;
}

.search_button
{
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: var(--color);
    width: 134px;
    height: 52px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    }

.magnifying_glass
    {
    display: none;
    }

    /* FILTRES */
.filters_options
{
    display: flex;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 16px;
    padding-left: 12px;
    width: 100%;
}

.container
{
    display: flex;
    justify-content: flex-start;          
}

.filtres 
{
    font-weight: 700;
    font-size: 18px;
    padding-right: 18px
}

.type
{
    display: flex;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    align-items: center;
    height: 50px;
    margin: 15px;
    padding: 14px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    
}

.type:hover:hover
{
    background-color: var(--color);
    color: white;
    transform: scale(1.1);
}

.filter_icon
{
    display: flex;
    justify-content: center;
    background-color: #DEEBFF;
    color: var(--color);
    font-size: 18px;
    padding: 15px;
    width: 48px;
    border-radius: 30px;
    transform: translateX(-18px);  
}

.information
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
}

.info_icon
{
    color: var(--color);
    align-self: center;
    font-weight: bold;
    font-size: 14px;
    padding: 4px;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 7px;
    width: 29px;
    border: 2px solid #d9d9d9;
    border-radius: 100%;
}


/* MAIN BODY PART*/
#main_body
{
    width: auto;
    display: flex;
    justify-content: space-between;  
    margin-right: 30px;
    gap: 20px;
}

a
{
    text-decoration: none;
    color: black;
}


#lodging
{
    width: 65.7%;
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px 20px 20px 20px;
    box-sizing: border-box;
}

.lodging_list
{
    display: flex; 
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    
}

.presentation_block
{
    justify-content: center;
    width: 31%;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 1px 1px 10px #dddddd;
    background-color: white;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 10px;
    margin-bottom: 18px;
    margin-top: 10px;
    transition: transform 0.5s ease-in-out;
}

.presentation_block:hover:hover
{
    transform: scale(1.1);
}
.presentation
{
    padding-left: 5px;
}

.hotel_pic
{
    width: 100%;
    height: 115px;
    object-fit: cover;
    align-items:center;
    flex-wrap: wrap;
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
}

.hotel_name
{
    font-size: 16px;
    margin: 3px;
}
.hotel_price
{
    font-size: 14px;
    padding-top: 1px;
    padding-left: 3px;
    padding-bottom: 1px;
    box-sizing: border-box;
}

.blue_star
{
    color: var(--color);
    font-size: 10px;
}

.grey_star
{
    color: #d9d9d9;
    font-size: 10px;
}

.show_more
{
    font-weight: 700;
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 40px;                
}

#most_famous
{
    width: 419px;
    background-color: #F2F2F2;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 15px; 
}

.aside_title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
}

.famous_list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
    
.famous_block
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 345px;
    border-radius: 20px;
    border: 3px solid white;
    box-shadow: 1px 1px 10px #dddddd;
    background-color: white;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-bottom: 5px;
    margin-top: 20px;
    transition: transform 0.5s ease-in-out;
}

.famous_block:hover:hover
{
    transform: scale(1.1);
}

.famous_pic
{
    width: 125px;
    height: 130px;
    object-fit: cover;
    justify-content: space-around;
    border-radius: 15px 0px 0 15px;
    box-sizing: border-box;
    
}

.famous_presentation
{
    width: 205px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 15px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.famous_name
{
    font-size: 16px;
    font-weight: bold;
}

.famous_price
{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 0px
}
.stars
{
    padding-top: 25px;
}

    
#activites
{
    width: 97.5%; 
    flex-wrap: wrap;
    margin-top: 60px;
    background-color: white;
}

.activity_body
{
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.activity_list
{
    width: auto;
    display: flex;
    justify-content: space-between;

    
}
.activity_blocks
{
    width: 22.5%;
    box-shadow: 1px 1px 15px #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    transition: transform 0.5s ease-in-out;
}

.activity_blocks:hover:hover
{
    transform: scale(1.1);
}

.column_activity_blocks
{
    width: 22.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column_list
{
    width: 100%;
    box-shadow: 1px 1px 15px #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    transition: transform 0.5s ease-in-out;
}

.column_list:hover:hover
{
    transform: scale(1.1);
}

.pictures
{
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    padding-bottom: 0px;
}

.column_pictures
{
    width: 100%;
    height: 140px;
    object-fit: cover;
    justify-content: space-around;
    border-radius: 15px 15px 0 0;
    
}

#big_image
{
    height: 180px;
}
#small_image
{
    height: 110px;
}
.activity_presentation
{
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}

/* FOOTER */
#footer
{
    background-color: #F2F2F2;
    width: 100%;
    height: 220px;
    margin-top: 55px;
    justify-content: space-between;
}
#footer_nav
{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 50px;
    width: 74%;
    font-size: 16px;
    }

h3
{
    padding-bottom: 10px;
}
    
li
{
    list-style-type: none;
    margin-bottom: 15px;
}
        

        
@media only screen and (min-width: 769px) and (max-width: 992px)
{
body
{ 
    width: 100%;
}

header
{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.booki_logo
{
    align-self:flex-start;
}

.header_nav
{
    display: flex;
    justify-content: flex-end;
    gap: 70px;
    width: 100%;
}

h1
{
    font-size: 24px;
}

p
{
    font-size: 14px;
}

.filters_options
{
    display: flex;
    flex-wrap: wrap;
}
.container
{
    flex-wrap: wrap;
}

.main_body
{
    width: auto;
    gap: 10px;
}

#lodging
{
    width: 65%;
    align-self: center;
    padding: 15px;
}

.lodging_list
{
    display: flex;
    justify-content: space-between;
}

.presentation_block
{
    width: 48%;
}

.hotel_pic
{
    width: 100%;
    height: 150px;
    object-fit: cover;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
}

.hotel_price
{
    padding-top: 5px;
    padding-bottom: 10px
}

#most_famous
{
    height: 650px;
    padding: 15px;
}
.aside_title
{
    padding-top: 0px;
}

#activites
{
    width: 96%;
}

.activity_list
{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.activity_blocks
{
    width: 30%;
    height: 170px;
}

.column_activity_blocks
{
    flex-direction: row;
    width: 66%;
    gap: 30px;
}

.pictures
{
    height: 170px;
}

#big_image
{
    height: 170px;
}

#small_image
{
    height: 170px;
}

.column_pictures
{
    height: 170px;
}
}

/* 768PX */
@media only screen and (max-width: 768px)
{
body{
    width: 100%;
    margin: auto;
}
#global_body
{
    width: 100%;
    margin: auto;
    padding: 0;
}

header
{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    padding-top: 5px;
}

.booki_logo
{
    align-self: center;
    padding-top: 20px;
    padding-left: 20px;
}

.header_nav
{
    display: flex;
    justify-content: center;
    gap: 0%;
    padding-bottom: 15px;
}

.link1
{
    border-bottom: 3px solid #dddddd;
    padding-bottom: 15px;
    width: 186px;
    text-align: center;
}
.link2
{
    border-bottom: 3px solid #dddddd;
    padding-bottom: 15px;
    width: 186px;
    text-align: center;
}

.link1:hover
{
    color: var(--color);
    text-decoration:none;
    border-top: none;
    border-bottom: 3px solid var(--color);
    margin: -1px;
}
.link2:hover
{
    color: var(--color);
    text-decoration:none;
    border-top: none;
    border-bottom: 3px solid var(--color);
    margin: -1px;
}

.slogan
{
    width: 90%;
    margin: auto;
    margin-bottom: 33px;
}

h1
{
    text-align: justify;
    font-size: 22px;
    margin-bottom: 15px;
    width: 95%;
}

p
{
    font-size: 16px;
    flex-wrap: wrap;
    padding-right: 20px;
}

.location_nav
{
    margin: auto;
    width: 340px;
    border-radius: 18px 18px 18px 18px;
    
}

.location_icon
{
    border-radius: 15px 0 0 15px;
}
.search_button
{
    width: 50px;
    border-radius: 15px 15px 15px 15px;
}

.search
{
    display: none;
}

.magnifying_glass
{
    font-size: 18px;
    display: inline;
}

.filtres
{
    padding-bottom: 8px ;
}
.filters_options
{
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 25px;
}

.information
{
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 30px;
}
.filtres
{
    padding-left: 10px;
}
.container
{
    flex-wrap: wrap;
}

.type
{
    margin: 7px;
    width: fit-content;
    font-size: 16px;
}

.info_icon
{
    font-size: 15px;
    font-weight: 700;
    padding: 2px;
    padding-left: 8px;
    padding-right: 2px;
    margin: 10px; 
}


#main_body
{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

#lodging
{
    width: auto;
    background-color: white;
    order: 2;
    margin: auto;
    padding: 0;
}

#hebergement
{
    margin-bottom: 5px;
}
.lodging_list
{
    flex-direction: column;
}

.presentation_block
{
    width: 335px;
    margin-bottom: 2px;
}
.presentation_block:hover:hover
{
    transform: scale(1.1);
}
.hotel_pic
{
    width: 100%;
    height: 112px;
    object-fit: cover;
    justify-content: space-around;
    align-self: center;
    border-radius: 15px 15px 0px 0px;
}

.show_more
{
    padding-top: 30px;
    padding-bottom: 10px;
}

#most_famous
{
    width: 374px;
    height: 580px;
    align-self: flex-start;
    flex-direction: column;
    border-radius: 0px 0px 0px 0px;
    padding: 0;
    margin: auto;
    object-fit: cover;
}
.famous_title{
    width: 93%;
    padding-left: 20px;
}
.famous_block
{
    width: 100%;
    margin-top: 8px;
    height: 145px;
}
.famous_block:hover:hover
{
    transform: scale(1.1);
}
.famous_pic
{
    
    object-fit: cover;
    height: auto;
}

#activites
{
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}

.activity_list
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.activity_blocks
{
    width: 335px;
    box-shadow: 1px 1px 10px #dddddd;
}
.column_activity_blocks
{
    gap: 20px;
    width: 335px;
}

.column_list
{
    box-shadow: 1px 1px 10px #dddddd;
}
.pictures
{
    width: 335px;
    height: 140px;
}
.column_pictures
{
    width: 335px;
    height: 140px; 
}
#big_image
{
    width: 335px;
    height: 140px;
}
#small_image
{
    width: 335px;
    height: 140px;
}
#footer
{
    height: auto;
    width: 100%;
    padding-bottom: 50px;
}
#footer_nav
{
    flex-direction: column;
    width: 60%;
    margin: auto;
    gap: 40px;
    padding-top: 30px;
    padding-left: 0;
    
    
}
li
{
    margin-bottom: 8px;
}
}